.main {
  padding: 2rem 0;
  &-wrapper {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    padding: 1rem 0;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
  }
  &-card {
    text-align: center;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #8CC83A;
    flex-basis: 20%;
  }
}

@media (max-width: 768px) {
  .main {
    &-wrapper {
      grid-template-columns: repeat(2,1fr);
    }
    &-card {
      text-align: center;
      border-radius: .5rem;
      padding: 1rem;
      background-color: #8CC83A;
      flex-basis: 20%;
    }
  }
}