.main {
  &-wrapper {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
  }
  &-card {
    text-align: center;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #8CC83A;
    flex-basis: 20%;
  }
}

@media (max-width: 768px) {
  .main {
    &-wrapper {
      grid-template-columns: auto;
      grid-auto-flow: column;
      grid-template-rows: auto auto auto;
      overflow-x: scroll;
      justify-content: start;
    }
    &-wrapper::-webkit-scrollbar {
      display: none;
    }
    &-card {
      text-align: center;
      border-radius: .5rem;
      padding: 1rem;
      background-color: #8CC83A;
      flex-basis: 20%;
    }
  }
}