.header {
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.07),0 2px 2px 0 rgba(0,0,0,.04);
  &-wrapper {
  }
  &-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0;
    & button {
      color: whitesmoke;
      cursor: pointer;
      background-color: #3b71ca;
      padding: .5rem 1rem;
      transition: all .3s ease;
      border-radius: .3rem;
      text-transform: uppercase;
      font-weight: 600;
      box-shadow: 0 4px 9px -4px #3b71ca;
      &:hover {
        background-color: #386bc0;
        box-shadow: 0 8px 9px -4px rgb(59 113 202 / 30%), 0 4px 18px 0 rgb(59 113 202 / 20%);
      }
    }
  }
}