.header {
  background-color: white;
  box-shadow: 1px 0px 2px black;
  &-wrapper {
  }
  &-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: .2rem 0;
    & button {
      cursor: pointer;
      background-color: #1eadef;
      padding: .5rem 1rem;
      transition: all .3s ease;
      border-radius: .3rem;
      text-transform: uppercase;
      font-weight: 600;
      &:active {
        background-color: #198bc0;
      }
    }
  }
}