.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.57);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: .5rem;
  max-width: 50%;
}